@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* GLOBAL */

html, body {
    min-height: 100%;
}

body {
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(../img/weather.png) repeat;
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    color: #333333;
}

.container {
    position: relative;
    margin: 100px auto;
    padding: 55px 45px 40px;
    width: 425px;
    background-color: #aaa;
    background: url(../img/pentagon.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 4px;
    -moz-box-shadow: 1px -1px 54px #1fc2ac;
    -webkit-box-shadow: 1px -1px 54px #1fc2ac;
    box-shadow: 1px -1px 54px #1fc2ac;
}

.container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/shadow-mask.png);
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: #1F7540;
    text-align: center;
}

form {
    position: relative;
    z-index: 1;
    margin: 40px auto 0;
    width: 295px;
    text-align: right;
}

input {
    outline: 0;
}

input[type="text"], input[type="password"] {
    margin-left: 15px;
    margin-bottom: 15px;
    padding-left: 7px;
    width: 213px;
    height: 38px;
    font-size: 14px;
    border: 1px solid #0d2c52;
    background-color: #96C9BB;
    color: #333333;
}

a {
    text-decoration: underline;
    margin-left: 11px;
    outline: 0;
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
}

label[for="remember"] {
    margin-left: 5px;
}

.submit {
<<<<<<< HEAD
	display: inline-block;
	overflow: hidden;
	position: relative;
	margin-top: 15px;
	margin-right: 115px;
	margin-bottom: 15px;
	width: 101px;
	height: 40px;
	border: 0;
	outline: 0;
	font-size: 16px;
	background-color: #b7b7b7;
	background-image: linear-gradient(to top, #427ec7 0%, #427ec7 16%, #518ee2 64%, #518ee2 100%);
	border-radius: 6px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
	color: #fff;
	cursor: pointer;
=======
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-right: 115px;
    margin-bottom: 15px;
    width: 101px;
    height: 40px;
    border: 0;
    outline: 0;
    font-size: 16px;
    background-color: #b7b7b7;
    background-image: linear-gradient(to top, #ffff4d 0%, #ffff4d 16%, #d2ff4d 64%, #d2ff4d 100%);
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    color: black;
    cursor: pointer;
>>>>>>> 70db85d4df9ac86529d35e7af9e919e93779af33
}

.submit span {
    position: relative;
    z-index: 1;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}


/* Button hover effect */

.submit:before, .submit:after {
    position: absolute;
    width: 334px;
    height: 40px;
    border: 70px solid;
    transition: all 0.4s ease-in-out;
    content: "";
}

.submit:before {
    top: -73px;
    left: -336px;
    border-color: transparent transparent #fff transparent;
}

.submit:after {
    top: -3px;
    right: -336px;
    border-color: #fff transparent transparent transparent;
}

.submit:hover:before {
    left: 0;
}

.submit:hover:after {
    right: 0;
}

.submit:hover span {
    color: #ffff00;
}

.submit:active {
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.75);
}

.subtitle {
    color: #333333;
    font-weight: bold;
}
